    /*
    Flaticon icon font: Flaticon
    Creation date: 06/03/2017 10:27
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-001-upload-arrow:before { content: "\f100"; }
.flaticon-002-chrome-logo:before { content: "\f101"; }
.flaticon-003-diagonal-enlarge:before { content: "\f102"; }
.flaticon-004-compass-3:before { content: "\f103"; }
.flaticon-005-compass-2:before { content: "\f104"; }
.flaticon-006-microphone:before { content: "\f105"; }
.flaticon-007-padlock:before { content: "\f106"; }
.flaticon-008-browser:before { content: "\f107"; }
.flaticon-009-shop:before { content: "\f108"; }
.flaticon-010-spider-web:before { content: "\f109"; }
.flaticon-011-notification:before { content: "\f10a"; }
.flaticon-012-retweet:before { content: "\f10b"; }
.flaticon-013-turn-right:before { content: "\f10c"; }
.flaticon-014-downloading-from-smartphone:before { content: "\f10d"; }
.flaticon-015-download:before { content: "\f10e"; }
.flaticon-016-compass-1:before { content: "\f10f"; }
.flaticon-017-side-menu:before { content: "\f110"; }
.flaticon-018-apps:before { content: "\f111"; }
.flaticon-019-multi-tab:before { content: "\f112"; }
.flaticon-020-bookmark:before { content: "\f113"; }
.flaticon-021-browser-visualization:before { content: "\f114"; }
.flaticon-022-mute:before { content: "\f115"; }
.flaticon-023-compass:before { content: "\f116"; }
.flaticon-024-tracker:before { content: "\f117"; }
.flaticon-025-add-button:before { content: "\f118"; }
.flaticon-026-picture:before { content: "\f119"; }
.flaticon-027-glasses:before { content: "\f11a"; }
.flaticon-028-history-button:before { content: "\f11b"; }
.flaticon-029-open-book:before { content: "\f11c"; }
.flaticon-030-folders:before { content: "\f11d"; }
.flaticon-031-upload-to-cloud:before { content: "\f11e"; }
.flaticon-032-close:before { content: "\f11f"; }
.flaticon-033-pin:before { content: "\f120"; }
.flaticon-034-settings:before { content: "\f121"; }
.flaticon-035-order:before { content: "\f122"; }
.flaticon-036-refresh-button:before { content: "\f123"; }
.flaticon-037-play-button-1:before { content: "\f124"; }
.flaticon-038-mouse:before { content: "\f125"; }
.flaticon-039-menu-button:before { content: "\f126"; }
.flaticon-040-at:before { content: "\f127"; }
.flaticon-041-high-volume:before { content: "\f128"; }
.flaticon-042-favorites-button:before { content: "\f129"; }
.flaticon-043-connections:before { content: "\f12a"; }
.flaticon-044-note:before { content: "\f12b"; }
.flaticon-045-next-page:before { content: "\f12c"; }
.flaticon-046-play-button:before { content: "\f12d"; }
.flaticon-047-check-square:before { content: "\f12e"; }
.flaticon-048-user:before { content: "\f12f"; }
.flaticon-049-new-file:before { content: "\f130"; }
.flaticon-050-home:before { content: "\f131"; }
    
    $font-Flaticon-001-upload-arrow: "\f100";
    $font-Flaticon-002-chrome-logo: "\f101";
    $font-Flaticon-003-diagonal-enlarge: "\f102";
    $font-Flaticon-004-compass-3: "\f103";
    $font-Flaticon-005-compass-2: "\f104";
    $font-Flaticon-006-microphone: "\f105";
    $font-Flaticon-007-padlock: "\f106";
    $font-Flaticon-008-browser: "\f107";
    $font-Flaticon-009-shop: "\f108";
    $font-Flaticon-010-spider-web: "\f109";
    $font-Flaticon-011-notification: "\f10a";
    $font-Flaticon-012-retweet: "\f10b";
    $font-Flaticon-013-turn-right: "\f10c";
    $font-Flaticon-014-downloading-from-smartphone: "\f10d";
    $font-Flaticon-015-download: "\f10e";
    $font-Flaticon-016-compass-1: "\f10f";
    $font-Flaticon-017-side-menu: "\f110";
    $font-Flaticon-018-apps: "\f111";
    $font-Flaticon-019-multi-tab: "\f112";
    $font-Flaticon-020-bookmark: "\f113";
    $font-Flaticon-021-browser-visualization: "\f114";
    $font-Flaticon-022-mute: "\f115";
    $font-Flaticon-023-compass: "\f116";
    $font-Flaticon-024-tracker: "\f117";
    $font-Flaticon-025-add-button: "\f118";
    $font-Flaticon-026-picture: "\f119";
    $font-Flaticon-027-glasses: "\f11a";
    $font-Flaticon-028-history-button: "\f11b";
    $font-Flaticon-029-open-book: "\f11c";
    $font-Flaticon-030-folders: "\f11d";
    $font-Flaticon-031-upload-to-cloud: "\f11e";
    $font-Flaticon-032-close: "\f11f";
    $font-Flaticon-033-pin: "\f120";
    $font-Flaticon-034-settings: "\f121";
    $font-Flaticon-035-order: "\f122";
    $font-Flaticon-036-refresh-button: "\f123";
    $font-Flaticon-037-play-button-1: "\f124";
    $font-Flaticon-038-mouse: "\f125";
    $font-Flaticon-039-menu-button: "\f126";
    $font-Flaticon-040-at: "\f127";
    $font-Flaticon-041-high-volume: "\f128";
    $font-Flaticon-042-favorites-button: "\f129";
    $font-Flaticon-043-connections: "\f12a";
    $font-Flaticon-044-note: "\f12b";
    $font-Flaticon-045-next-page: "\f12c";
    $font-Flaticon-046-play-button: "\f12d";
    $font-Flaticon-047-check-square: "\f12e";
    $font-Flaticon-048-user: "\f12f";
    $font-Flaticon-049-new-file: "\f130";
    $font-Flaticon-050-home: "\f131";